@mixin flexbox($justifyContent, $alignItems) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin fit() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #222;
  @include flexbox("center", "center");
}

* {
  box-sizing: border-box;
}

.world {
  width: 100vh;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  perspective: 1000;
  transform-style: preserve-3d;
  @include flexbox("space-between", "space-around");
}

.card {
  text-decoration: none;
  outline: none;
  
  border-radius: 5%;
  width: 10%;
  height: 10%;
  border: 2px solid #000;
  transition: all ease 0.5s;
  position: relative;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  
  
  .card__front {
    @include fit();    
    background: darkslategray;
    background: linear-gradient(45deg, darkslategray, mediumpurple);
    backface-visibility: hidden;
  }

  .card__back {
    @include fit();
    transform: rotateY(-180deg);
    background: #fff url("https://placekitten.com/150/150") center no-repeat;
    background-size: 90%;
    backface-visibility: hidden;
  }

}

.card:focus {
  transform: rotateY(180deg);
}