<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="glowing-cube.css")
    title A glowing cube
  body
    .world
      .cube(tabindex=0)
        .cube__front
        .cube__back
        .cube__left
        .cube__right
        .cube__top
        .cube__bottom