@mixin flexbox($justifyContent, $alignItems) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin fit() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body { 
  margin: auto; 
  overflow: hidden;
  width: 100vmin;
  height: 100vmin;
  background: #000;
  @include flexbox(center, center);
}

.hamburger {
  width: 25vmin;
  height: 3vmin;
  background: #fff;
  position: relative;
  transition: all ease-in 0.2s;
  border: 10vmin solid #000;
  text-decoration: none;
  display: block;
  
  &::before {
    content: '';
    @include fit();
    background: #fff;
    transition: all ease-in 0.5s;
    transform:  rotate(180deg) translateY(7vmin);
  }

  &::after {
    content: '';
    @include fit();
    background: #fff;
    transform: translateY(7vmin);
    transition: all ease-in 0.5s;
  }


  &:hover {
    background: #000;

    &::after {
      transform: translateY(0) rotate(45deg);
      opacity: 1.0;
    }
    &::before {
      transform: translateY(0) rotate(-45deg);
      opacity: 1.0;
    }

  }
}