@mixin flexbox($justifyContent, $alignItems) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin fit() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  @include flexbox(center, center);
}

.wrapper {
  width: 50vmin;
  height: 50vmin;
  @include flexbox(center, center);
}

.tile {
  width: 50%;
  height: 50%;
  @include flexbox(center, center);
  background: black;
}

.tile:nth-child(2), .tile:nth-child(3) {
  background: white;
}

.tile:first-child::after {
  width: 50%;
  height: 50%;
  background: red;
  border-radius: 50%;
}