body, .thingy {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;  
  animation: huerotator 60s linear infinite;
}

.thingy {
  background: rgba(255,255,255,0.05);
  width: 90%;
  height: 90%;
  animation: rotator 60s linear infinite;
}

body > .thingy {
  width: 100vmax;
  height: 100vmax;
  background: #639;
  box-shadow: 0 0 0 30vmax #639;
}

@keyframes rotator {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg);    
  }
}

@keyframes huerotator {
  0% { 
    filter: hue-rotate(0deg); 
  }
  100% { 
    filter: hue-rotate(360deg);    
  }
}

