<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="pixels.css")
    title A pixel editor using checkboxes :-)
  body
    .container
      - for (var i = 100; i--;) 
        input.checkbox(type="checkbox", checked=(i%3 === 0), id="pixel" + i)
        label.checkbox-label(for="pixel" + i)
      
        
      