@mixin flexbox($justifyContent, $alignItems) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin fit() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #663399;
  margin: 0;
  overflow: hidden;
  @include fit();
  @include flexbox(center, center);
}


@keyframes pulsate {
  50% { transform: scale(2.0); } 
}

.heart {
  border-radius: 50%;
  background: salmon;
  width: 25vmin;
  height: 25vmin;
  transform: translate(-12.5vmin,-12.5vmin);
  position: relative;
}

.heart::after {
  border-radius: 50%;
  @include fit();
  background: salmon;
  transform: translateX(25vmin);
  content: 'xxx';
}

.heart::before {
  position: absolute;
  top: 0; left: 0;
  width: 0vmin;
  height: 0;
  content: '';
  border-left: 25vmin solid transparent;
  border-right: 25vmin solid transparent;
  border-top: 35vmin solid salmon;
  transform: translateY(12vmin);
}