@mixin flexbox($justifyContent, $alignItems) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin fit() {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #663399;
  margin: 0;
  overflow: hidden;
  @include fit();
  @include flexbox(center, center);
}


@keyframes pulsate {
  50% { transform: scale(2.0); } 
}

.heart {
  width: 25vmin;
  height: 35vmin;
  position: relative;
  transition: transform 0.5s ease;
  
  &:hover {
    transform: scale(2);
  }
}

.heart::before {
  border-radius: 50% 50% 0 0;
  background: salmon;
  padding-bottom: 3.5vmin;
  @include fit();
  transform: translateX(5vmin) rotate(45deg);
  content: '';
}

.heart::after {
  border-radius: 50% 50% 0 0;
  @include fit();
  background: salmon;
  padding-bottom: 3.5vmin;
  transform: translateX(-5vmin) rotate(-45deg);
  content: '';
}
